<uno-header></uno-header>
<div class="container">

    <div class="card my-4">
        <div class="card-header">
            <h5 class="card-title">UNO GAME</h5>
        </div>
        <div class="card-body">
            <h5 class="card-title">Welcome to the game</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a [routerLink]="'/game'" href="#" class="btn btn-lg btn-danger"> START</a>
        </div>
    </div>
</div>

<uno-footer></uno-footer>