<uno-header></uno-header>
<div class="container-fluid pb-5">
    <div class="top-bar">
        <a type="button " class="btn btn-lg btn-dark " (click)="startGame()" *ngIf="!this.isStartGame"> <i class="fas fa-play me-2 icon-size"></i> PLAY</a>
        <a type="button " class="btn btn-lg btn-dark " (click)="stopGame()" *ngIf="this.isStartGame"> <i class="fas fa-stop me-2 icon-size"></i> STOP</a>

        <div class="ms-4 notification" *ngIf="this.isStartGame">
            <!-- Message de victoire -->
            <div class="alert alert-success d-flex align-items-center" role="alert" *ngIf="player1.length === 0">
                <i class="fas fa-trophy me-2 fa-lg text-warning"></i>
                <strong>Well done! You win !</strong>
            </div>

            <!-- Message de défaite -->
            <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="player2.length === 0">
                <i class="fas fa-sad-tear me-2 fa-lg"></i>
                <strong>Sorry, you lose !</strong>
            </div>
        </div>

    </div>

    <div *ngIf="this.isStartGame">
        <div class="d-flex flex-column mt-4 computer" [class.computer-selected]="!realplayer">
            <div class="row align-items-center">
                <!-- Avatar (Colonne de gauche) -->
                <div class="col-auto">
                    <div class="uno-avatar">
                        <i class="fa fa-user-astronaut fa-2x"></i>
                    </div>
                </div>

                <!-- Texte et informations (Colonne de droite) -->
                <div class="col-auto d-flex flex-column">
                    <span class="uno-score">Computer</span>
                    <div *ngIf="!realplayer">I'm playing...</div>
                    <div *ngIf="player2.length == 2" class="text-warning fw-bold">UNO !</div>
                    <span class="uno-score">Score: {{score_player2}}</span>
                </div>

            </div>
        </div>

    </div>

    <div class="row mt-4" *ngIf="this.isStartGame">
        <div class="col-12 col-lg-auto">
            <div class="talon">
                <div>
                    <h5 class="card-title text-white text-center">Talon</h5>
                    <div class="color-select">
                        <span class="text-white">Color Selected</span>
                        <div class="ms-auto " [class.uno-color-yellow]="selectColor==colorUno.Yellow " [class.uno-color-red]="selectColor==colorUno.Red " [class.uno-color-blue]="selectColor==colorUno.Blue " [class.uno-color-green]="selectColor==colorUno.Green ">
                        </div>
                    </div>
                </div>
                <div class="mt-2 talon-card">
                    <ng-container *ngIf="lastCardTalon() ">
                        <uno-playcard [colorUnoSelect]="selectColor " [card]="lastCardTalon() " (backSideEvent)="backSideTalonEvent($event) " [showBackSide]="showback " (click)="pickCard() "></uno-playcard>
                    </ng-container>
                    <div class="mx-4 " *ngIf="showPickColor ">

                        <uno-pickcolor (colorChoose)="colorChoose($event) " [showPicker]="showPickColor "></uno-pickcolor>
                    </div>
                </div>

            </div>


        </div>
        <div class="col-12 col-lg-auto">
            <div class="human" [class.human-selected]="realplayer" [class.human-disabled]="!realplayer">
                <div>
                    <div class="row align-items-center">
                        <!-- Avatar (Colonne de gauche) -->
                        <div class="col-auto">
                            <div class="uno-avatar"><i class="fa fa-user-secret fa-2x"></i></div>
                        </div>

                        <!-- Texte et informations (Colonne de droite) -->
                        <div class="col-auto d-flex flex-column">
                            <span class="uno-score">Human</span>
                            <span class="uno-score">Score: {{score_player1}}</span>
                        </div>

                    </div>
                </div>
                <div class="card-body">
                    <p class="text-white">Ready Player One ?</p>
                    <div class="uno-grid">
                        <ng-container *ngFor="let card of player1; let i = index">
                            <div [class.neon-border]="checkSelectCard(i)" (click)="selectCardPlayer1Index(i)">
                                <uno-playcard [showBackSide]="false" [colorUnoSelect]="selectColor" [card]="card" (putCardEvent)="putCardPlayer1Event($event)">
                                </uno-playcard>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="card-footer border-0 bg-transparent d-flex align-items-center ">
                    <a type="button " class="ms-4 btn btn-lg btn-outline-warning " (click)="sayUno() " *ngIf="player1.length==2 "> UNO</a>
                    <a type="button " class="ms-4 btn  btn-lg btn-outline-light " (click)="passCardFromHuman() "> SKIP</a>
                    <button class="ms-4 btn  btn-lg btn-warning pick-btn text-white" (click)="selectPickCard()" [disabled]="!isSelectedCard">
                    <i class="fas fa-hand-pointer "></i> Play this card
                  </button>
                    <div *ngIf="wrongCard">
                        Can not be playable !
                    </div>
                </div>
            </div>



        </div>

    </div>

    <p class="text-white">
        PLAYER 1 : {{ player1 | json}} {{ player1.length}}
    </p>
    <p class="text-white">
        PLAYER 2 : {{ player2 | json}} {{ player2.length}}
    </p>
</div>

<uno-footer></uno-footer>