<uno-header></uno-header>
<div class="container-fluid pb-5">


    <div class="row mt-4">
        <div class="col-9">
            <div class="card" [class.border-primary]="realplayer">
                <div class="card-header  bg-transparent">
                    <h5 class="card-title  text-primary">Ready Player One ? <i class="fab fa-twitter"></i></h5>
                </div>
                <div class="card-body  p-0">
                    <div class="uno-grid">
                        <ng-container *ngFor="let card of player1">
                            <uno-playcard [card]="card" (putCardEvent)="putCardPlayer1Event($event)"></uno-playcard>
                        </ng-container>
                    </div>
                </div>
                <div class="card-footer  bg-transparent d-flex align-items-center">
                    <a type="button" class="btn btn-outline-primary mx-2" (click)="startGame()"> START</a>
                    <a type="button" class="btn btn-outline-success" (click)="passCardFromHuman()"> PASS</a>
                    <div class="ms-auto  text-primary"> Score : {{score_player1}}</div>
                </div>
            </div>

            <div class="card mt-4" [class.border-danger]="!realplayer">
                <div class="card-header  bg-transparent">
                    <h5 class="card-title text-danger">Player Two <i class="fa fa-meh-o"></i></h5>
                </div>
                <div class="card-body p-0">
                    <div class="uno-grid">
                        <ng-container *ngFor="let card of player2">
                            <uno-playcard [card]="card"></uno-playcard>
                        </ng-container>
                    </div>
                </div>
                <div class="card-footer  bg-transparent d-flex align-items-center">
                    <div class="ms-auto  text-danger"> Score : {{score_player2}}</div>
                </div>
            </div>

        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-header d-flex">
                    <h5 class="card-title">Cards</h5>
                    <div [class.uno-color-yellow]="selectColor == colorUno.Yellow" [class.uno-color-red]="selectColor == colorUno.Red" [class.uno-color-blue]="selectColor == colorUno.Blue" [class.uno-color-green]="selectColor == colorUno.Green">

                    </div>
                </div>

                <div class="card-body">
                    <div class="uno-grid">
                        <ng-container *ngIf="lastCardTalon()">
                            <uno-playcard (cardRemoveEvent)="cardRemoveEvent($event, this.player1)" [card]="lastCardTalon()" (backSideEvent)="backSideTalonEvent($event)" [showBackSide]="showback" (click)="pickCard()"></uno-playcard>
                        </ng-container>
                    </div>
                </div>
                <div>
                    <uno-pickcolor (colorChoose)="colorChoose($event)"></uno-pickcolor>
                </div>
            </div>
        </div>

    </div>





</div>

<uno-footer></uno-footer>