<uno-header></uno-header>
<div class="container">

    <div class="card my-4">
        <div class="card-header">
            <h5 class="card-title">UNO GAME</h5>
        </div>
        <div class="card-body">
            <div class="uno-grid">
                <ng-container *ngFor="let card of gamecard">
                    <uno-playcard [card]="card"></uno-playcard>
                </ng-container>
                <!-- <uno-playcard  [color]="colorUno.Yellow" [figure]="figureUno.NUM2"></uno-playcard>
                <uno-playcard [color]="colorUno.Black" [figure]="figureUno.NUM1"></uno-playcard>
                <uno-playcard [color]="colorUno.Red" [figure]="figureUno.NUM3"></uno-playcard>
                <uno-playcard [color]="colorUno.Blue" [figure]="figureUno.NUM5"></uno-playcard> !-->
            </div>
        </div>
        <div class="card-footer">
            <a [routerLink]="'/game'" href="#" class="btn btn-lg btn-primary"> RESTART</a>
        </div>
    </div>
</div>

<uno-footer></uno-footer>