$card-yellow: #f2dc33;
$card-green: #71b048;
$card-blue: #029ad9;
$card-red: #ed1f21;
$card-black: #1e1916;
.uno-grid {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    gap: 30px;
    overflow-x: auto;
    padding: 24px;
}

@mixin uno-color($color) {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: $color;
}

.uno-color-black {
    @include uno-color($card-black);
}

.uno-color-yellow {
    @include uno-color($card-yellow);
}

.uno-color-blue {
    @include uno-color($card-blue);
}

.uno-color-green {
    @include uno-color($card-green);
}

.uno-color-red {
    @include uno-color($card-red);
}

.uno-shadow-select {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.uno-avatar {
    background-color: red;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2rem;
}

.uno-score {
    font-size: 20px;
    font-weight: bold;
    -webkit-text-stroke-width: 0.05rem;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.54);
    color: #fff;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 80%);
}

.neon-border {
    /* Bordure jaune */
    background-color: #FFFF00;
    /* Fond sombre pour mettre en valeur la bordure néon */
    color: white;
    /* Texte en blanc */
    box-shadow: 0 0 10px #FFFF00, 0 0 20px #FFFF00, 0 0 30px #FFFF00;
    /* Effet de néon */
    /* Bordure arrondie optionnelle */
}