$card-yellow: #f2dc33;
$card-green: #71b048;
$card-blue: #029ad9;
$card-red: #ed1f21;
$card-black: #1e1916;
.carduno-rotate {
    transform: rotateY(180deg);
}

.carduno-front,
.carduno-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    padding: 4%;
}

.carduno-back {
    transform: rotateY(180deg);
}

.carduno {
    cursor: pointer;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    height: 250px;
    width: 190px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px;
    .carduno-inside {
        border-radius: 8px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        .uno-number {
            position: absolute;
            width: 50px;
            margin-left: 10px;
        }
        .uno-number-end {
            display: flex;
            margin-top: -20px;
            margin-right: 10px;
            -moz-transform: scale(-1, -1);
            -o-transform: scale(-1, -1);
            -webkit-transform: scale(-1, -1);
            transform: scale(-1, -1);
        }
        .uno-txt {
            font-size: 30px;
            font-weight: bold;
            color: #fff;
            text-shadow: 2px 2px #333;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #333;
        }
        .card-uno-ellipsis {
            height: 85%;
            width: 100%;
            transform: skew(-15deg, -15deg);
            background-color: #fff;
            border-radius: 50%;
            margin-top: 9%;
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;
            .uno-txt {
                transform: skew(15deg, 15deg);
                font-size: 130px;
                text-shadow: 4px 2px #333;
            }
        }
    }
}

@mixin cardunocolor($mcolor, $tcolor) {
    .carduno-inside {
        background-color: $mcolor;
        .card-uno-ellipsis {
            .uno-txt {
                color: $tcolor;
            }
        }
    }
}

.carduno-yellow {
    @include cardunocolor($card-yellow, $card-yellow);
}

.carduno-black {
    @include cardunocolor($card-black, #fff);
}

.carduno-blue {
    @include cardunocolor($card-blue, $card-blue);
}

.carduno-red {
    @include cardunocolor($card-red, $card-red);
}

.carduno-green {
    @include cardunocolor($card-green, $card-green);
}

.carduno-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    img {
        width: 70%;
        height: auto;
    }
}