<div class="carduno" (click)="switchSide=!switchSide" [ngClass]="getCardColor(card)">
    <div class="carduno-front">
        <div class="carduno-inside">
            <div class="uno-number">
                <span class="uno-txt"> {{ card }}</span>
            </div>
            <div class="card-uno-ellipsis">
                <span class="uno-txt"> {{ card }}</span>
            </div>
            <div class="uno-number-end">
                <span class="uno-txt"> {{ card }}</span>
            </div>
        </div>
    </div>

    <div class="carduno-back">
        <div class="carduno-inside">
            <div class="carduno-logo">
                <img src="../../../assets/img/ganesha.svg">
            </div>

        </div>
    </div>

</div>