@use '.././.././../styles' as *;
.navbar-brand {
    font-size: 2rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}

.navbar-nav {
    font-size: 1.25rem;
}

.uno-ganesha-logo {
    font-family: "Lucida Handwriting";
    font-size: 10px;
    color: antiquewhite;
    position: absolute;
    bottom: 5px;
    margin-left: 5px;
    transform: rotateZ(-5deg);
}

.uno-ganesha-logo-right {
    -webkit-text-stroke-width: 0.01em;
    -webkit-text-stroke-color: #fff;
    font-weight: bold;
    font-size: 2.5rem;
    outline-width: thick;
    background: linear-gradient(to bottom, white, $color-yellow);
    -webkit-background-clip: text;
    /* Nécessaire pour les navigateurs Webkit (Chrome, Safari) */
    color: transparent;
    /* Le texte devient transparent, mais le dégradé est visible */
}

.uno-red-circle {
    width: 160px;
    height: 100%;
    position: absolute;
    background: red;
    z-index: 30;
    left: 0;
}
